<ul>
<li><a href='/threeTest'>Three.js Flying Grid</a></li>
<li><a href='/threeBox'>Three.js + Box2d Bouncing balls</a></li>
</ul>

<a href='https://github.com/aelaguiz/experiments.3d.physics'>Source</a>